
<!--
<div class="card bg-light mb-3" style="max-width: 12rem; max-height: 8rem;">
  <div class="card-header">You Are Logged In As:</div>
  <div class="card-body">
    <div class="modal-body">
      {{loggedInName}}
   </div>
  </div>
</div>

<div class="modal-dialog modal-sm" style="max-width: 14rem;">
  <div class="modal-content">
    <div class="modal-header">
      <div *ngIf="!showMsg; else notShowMsg">
        <h6 id="dialog-child-name" class="modal-title pull-left">
          Welcome Guest User
        </h6>
      </div>
      <ng-template #notShowMsg>
        <h6>
          You Are Logged In As:
        </h6>
      </ng-template>
      <div *ngIf="showMsg; ">
        <div class="modal-body">
          {{loggedInName}}
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div class="modal-dialog modal-md" style="max-width: 14rem;">
  <div class="modal-content">
    <div class="modal-header" style="color:rgb(7, 9, 126);background-color:rgb(170, 156, 137)">
      <h6 id="dialog-child-name" class="modal-title pull-left">
        You Are Logged In As:
      </h6>
    </div>
    <div class="modal-body">
       {{loggedInName}}
    </div>
  </div>
</div>

<div class="container">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" 
             routerLink="/" 
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{exact: true}">
          Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
             [routerLink]="['/add']" 
             routerLinkActive="active-link">
          Add Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
             [routerLink]="['/fetch']" 
             routerLinkActive="active-link">
          Fetch Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
             [routerLink]="['/change']" 
             routerLinkActive="active-link">
          Change Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
             [routerLink]="['/delete']" 
             routerLinkActive="active-link">
          Delete Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
             [routerLink]="['/chart']" 
             routerLinkActive="active-link">
          Display Chart</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">You Have Been Idle!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         {{idleState}}
        <div class="row mrgbtm">
          <div class="col-md-6">
              <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
          </div>
          <div class="col-md-6">
              <button type="button" (click)="stay()" class="btn btn-success">Stay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
